## READ ME
This script outlines the collection of building energy benchmarking data for Google Seattle buildings from 2019-2022 using data from the City of Seattle's annual building performance reports (https://data.seattle.gov/browse?q=eui&sortBy=newest&utf8=%E2%9C%93). To recreate the analysis, you must download the data files (this used Building Energy Benchmarking for 2022, 2021, 2020, 2019) and save them in the same location as this notebook.

Some of the Google buildings are merged into 1 property in the database (1021 VALLEY ST + 1000 MERCER STREET, 601 N 34TH ST + 651 N 34TH ST), so there are only 7 "buildings" even though Google has listed 9. Additionally, the newer buildings (SLU) do not have data for 2019. This data was filtered using this notebook for efficiency, then transferred to an excel sheet.

contact vi.truong@burohappold.com if you have questions about this script.

In [111]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Open and read data file - csv file must be in the same folder as this notebook
df_22 = pd.read_csv('2022_Building_Energy_Benchmarking_20240910.csv')
df_21 = pd.read_csv('2021_Building_Energy_Benchmarking_20240910.csv')
df_20 = pd.read_csv('2020_Building_Energy_Benchmarking_20240910.csv')
df_19 = pd.read_csv('2019_Building_Energy_Benchmarking_20240910.csv')

In [3]:
#Check the data looks okay by reading first few rows .head or last rows .tail
df_22.head()

,OSEBuildingID,DataYear,BuildingName,BuildingType,TaxParcelIdentificationNumber,Address,City,State,ZipCode,Latitude,...,ThirdLargestPropertyUseTypeGFA,Electricity(kWh),SteamUse(kBtu),NaturalGas(therms),ComplianceStatus,ComplianceIssue,Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions,GHGEmissionsIntensity
0,1,2022,MAYFLOWER PARK HOTEL,NonResidential,0659000030,405 OLIVE WAY,SEATTLE,WA,98101,47.61220,...,NaN,1107295.0,2192383.0,13629.0,Compliant,No Issue,3778091.0,1362900.0,264.5,2.99
1,2,2022,PARAMOUNT HOTEL,NonResidential,0659000220,724 PINE ST,SEATTLE,WA,98101,47.61307,...,NaN,698673.0,NaN,27516.0,Compliant,No Issue,2383872.0,2751630.0,155.3,1.75
2,3,2022,WESTIN HOTEL (Parent Building),NonResidential,0659000475,1900 5TH AVE,SEATTLE,WA,98101,47.61367,...,0.0,10599740.0,18793416.0,57000.0,Compliant,No Issue,36166313.0,5700000.0,1963.7,2.59
3,5,2022,HOTEL MAX,NonResidential,0659000640,620 STEWART ST,SEATTLE,WA,98101,47.61412,...,NaN,783804.0,1549427.0,15762.0,Compliant,No Issue,2674341.0,1576250.0,219.5,3.58
4,8,2022,WARWICK SEATTLE HOTEL,NonResidential,0659000970,401 LENORA ST,SEATTLE,WA,98121,47.61375,...,0.0,1374200.0,NaN,73621.0,Compliant,No Issue,4688770.0,7362130.0,409.0,3.60

In [119]:
#Show column names - this helps with parsing through data
list(df_22.columns)

['OSEBuildingID',
 'DataYear',
 'BuildingName',
 'BuildingType',
 'TaxParcelIdentificationNumber',
 'Address',
 'City',
 'State',
 'ZipCode',
 'Latitude',
 'Longitude',
 'Neighborhood',
 'CouncilDistrictCode',
 'YearBuilt',
 'NumberofFloors',
 'NumberofBuildings',
 'PropertyGFATotal',
 'PropertyGFABuilding(s)',
 'PropertyGFAParking',
 'ENERGYSTARScore',
 'SiteEUIWN(kBtu/sf)',
 'SiteEUI(kBtu/sf)',
 'SiteEnergyUse(kBtu)',
 'SiteEnergyUseWN(kBtu)',
 'SourceEUIWN(kBtu/sf)',
 'SourceEUI(kBtu/sf)',
 'EPAPropertyType',
 'LargestPropertyUseType',
 'LargestPropertyUseTypeGFA',
 'SecondLargestPropertyUseType',
 'SecondLargestPropertyUseTypeGFA',
 'ThirdLargestPropertyUseType',
 'ThirdLargestPropertyUseTypeGFA',
 'Electricity(kWh)',
 'SteamUse(kBtu)',
 'NaturalGas(therms)',
 'ComplianceStatus',
 'ComplianceIssue',
 'Electricity(kBtu)',
 'NaturalGas(kBtu)',
 'TotalGHGEmissions',
 'GHGEmissionsIntensity']

In [93]:
#Create new datasets with just the Google Seattle buildings for each year with the values wanted
google_22 = df_22[[ 'DataYear', 'BuildingName', 'Address', 'SiteEUIWN(kBtu/sf)', 'EPAPropertyType', 
 'ComplianceStatus', 'Electricity(kBtu)','NaturalGas(kBtu)','TotalGHGEmissions','GHGEmissionsIntensity']]
google_21 = df_21[[ 'DataYear', 'BuildingName', 'Address', 'SiteEUIWN(kBtu/sf)', 'EPAPropertyType', 
'ComplianceStatus', 'Electricity(kBtu)','NaturalGas(kBtu)','TotalGHGEmissions','GHGEmissionsIntensity']]
google_20 = df_20[[ 'DataYear', 'BuildingName', 'Address', 'SiteEUIWN(kBtu/sf)', 'EPAPropertyType', 
 'ComplianceStatus', 'Electricity(kBtu)','NaturalGas(kBtu)','TotalGHGEmissions','GHGEmissionsIntensity']]
google_19 = df_19[['DataYear', 'BuildingName', 'Address', 'SiteEUIWN(kBtu/sf)', 'EPAPropertyType', 
 'ComplianceStatus', 'Electricity(kBtu)','NaturalGas(kBtu)','TotalGHGEmissions','GHGEmissionsIntensity']]
google_19.head()

,DataYear,BuildingName,Address,SiteEUIWN(kBtu/sf),EPAPropertyType,ComplianceStatus,Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions,GHGEmissionsIntensity
0,2019,MAYFLOWER PARK HOTEL,405 OLIVE WAY,83.3,Hotel,Compliant,3871996,1320791,208.8,2.4
1,2019,PARAMOUNT HOTEL,724 PINE ST,90.9,Hotel,Compliant,2946902,5059502,286.9,3.2
2,2019,WESTIN HOTEL (Parent Building),1900 5TH AVE,90.4,Hotel,Compliant,44075841,1426400,1549.0,2.0
3,2019,HOTEL MAX,620 STEWART ST,103.5,Hotel,Compliant,2201145,2013415,232.4,3.8
4,2019,WARWICK SEATTLE HOTEL,401 LENORA ST,128.6,Hotel,Compliant,5444815,10430292,587.5,5.2

In [95]:
#Search to make sure the address exists in the dataset. type name in quotes. strings are in all caps.
#find_name = '651 N 34TH ST'
find_part = '34TH ST'
#result = google_22[google_22['Address'] == find_name] #full address
result = google_22[google_22['Address'].str.contains(find_part, case=False, na=False)] #partial address
#print(result)

In [113]:
#Create new dataset with just the addresses you need. this particular code will overwrite the previous dataset created. change the year as needed.
google_adds = ['630 BOREN AVE N', '1021 VALLEY ST', '609 FAIRVIEW AVE N', '437 N 34TH ST', '501 N 34TH ST', '551 N 34TH ST', '601 N 34TH ST']
google_22 = google_22[google_22['Address'].isin(google_adds)]
print(google_22)
#google_22.head()

      DataYear                 BuildingName             Address  \
357       2022        THE EVANSTON BUILDING       501 N 34TH ST
525       2022      THE CANAL VIEW BUILDING       551 N 34TH ST
1146      2022                      TABLEAU       437 N 34TH ST
3434      2022  PARKVIEW & WATERSIDE CAMPUS       601 N 34TH ST
3538      2022           Block 25W - Google     630 BOREN AVE N
3539      2022           Block 25E - Google  609 FAIRVIEW AVE N
3540      2022            Block 31 - Google      1021 VALLEY ST

      SiteEUIWN(kBtu/sf)     EPAPropertyType ComplianceStatus  \
357            73.400002              Office        Compliant
525            97.800003              Office        Compliant
1146           64.599998              Office        Compliant
3434           80.000000              Office        Compliant
3538           48.400002  Mixed Use Property        Compliant
3539           54.799999              Office        Compliant
3540           61.299999              Office        Compliant

      Electricity(kBtu)  NaturalGas(kBtu)  TotalGHGEmissions  \
357           3922749.0               NaN               15.0
525           4540553.0          485360.0               43.2
1146          3372050.0           55950.0               15.9
3434         13729052.0         1170530.0              114.8
3538          9218228.0         3034800.0              196.5
3539          8907654.0         1748020.0              127.0
3540         17484224.0         7931990.0              488.3

      GHGEmissionsIntensity
357                    0.28
525                    0.84
1146                   0.30
3434                   0.62
3538                   1.01
3539                   0.50
3540                   1.18